.container-game {
    height: 91vh;
    display: flex;
    justify-content: space-between;
    
    .plateau {
        width: 100%;
        text-align: center;
        border: 1px solid black;
    }

    .panel-right {
        width: 20rem;
        height: 86vh;
        overflow-y: scroll;
        background-color: $color-1;
        color: $color-2;
        border: 2px solid $color-1;
        
        p {
            text-align: center;
        }

        .item {
            height: 100px;
            margin-left: 10px;

            img {
                width: 45px;
            }
        }
    }
}